        
            
   </div> <!-- ./<div class="container"> -->
        
    <footer class="footer">
        <div class="container">
                 <p class="text-muted">&copy; 2015 Brad Claringbold</p>
        </div>
    </footer>


</body>
</html>