<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Survey Site</title>
    
    <!-- Latest compiled and minified CSS -->    
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link type="text/css" rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" />
       
    
  </head>
  <body>
   <div class="container">
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                </div>
             
              <ul class="nav navbar-nav navbar-right">            
                                                  
            <% if (displayName) { %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, <%= displayName %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users">Users</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li><a href="/surveylist">Manage Your Surveys</a></li>
                <li><a href="/surveys">Survey JSON</a></li>
                <li><a href="/stats">Survey Statistics</a></li>
                
             <% } else { %>
                <li><a href="/register">Register</a></li>   
                <li><a href="/login">Login</a></li>
              <% } %>
                 
 </ul>
            </div>
        </nav>
    
        <div class="jumbotron">
            <div class="page-header">
            <h1><%= title %></h1>
            </div>