<% include partials/header.ejs %>

        <div class="container">
            <ng-view></ng-view>
        </div> <!-- container -->

        <script type="text/ng-template" id="/surveys.html">
        
        
            
            <div class="panel panel-primary" ng-init="setUserName('<%= username %>')">
                <div class="panel-heading">
                    <div class="panel-title"><%= title %> for <%= displayName %></div>
                </div> <!-- panel-heading -->
                <div class="panel-body">
                    <h4><span class="badge">{{remainingSurveys()}}</span> Survey's of <span class="badge">{{totalSurveys()}}</span> Remaining</h4>
                    
                    <h4>Search Survey's:</h4>
                    <input type="text" ng-model="search.name" id="searchSurvey" placeholder="Survey's to find" class="form-control">
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item active">Current Survey's</li>
                        <li ng-repeat="survey in surveys | filter: search | filter: {username: '<%= username %>'}" class="list-group-item">
                            
                            <!--<div class="btn-group">
                                <button type="button" title="Edit" ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn-primary "><i class="fa fa-pencil-square-o"></i></button>
                            </div> 
                            -->
                            
                            <!-- btn-group 
                            <span>Complete? </span>
                            <input type="checkbox" ng-model="completed" ng-change="update($index)">
                            -->
                            
                            <span class="surveys">
                                <a ng-show="!editing[$index]" href="#/{{survey._id}}" class="completed-{{survey.completed}}">{{survey.name}}</a>
                            </span>

                            <input ng-show="editing[$index]" type="text" ng-model="name" class="form-control">
                            
                            <div class="btn-group">
                            <br>
                            <p>
                                <button type="button" title="Update" ng-show="editing[$index]" ng-click="update($index)" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                                <button type="button" title="Delete" ng-show="editing[$index]" ng-click="remove($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                                <button type="button" title="Cancel" ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                            </p>
                            </div> <!-- btn-group -->
                         </li>
                    </ul>

                   <div class="list-group">
                   <button type="button" class="list-group-item active" ng-show="!creating" ng-click="create()">Create a New Survey <i class="fa fa-plus"></i></button>
                   <button type="button" class="list-group-item active" ng-show="creating" ng-click="createcancel()">Create a New Survey</button>
                   <div ng-show="creating" class="list-group-item">
                        
                        <label ng-show="creating">Survey Name:</label> 
                        <input type="text" ng-model="newSurvey" ng-show="creating" id="newSurvey" placeholder="Survey Name" class="form-control">
                        <label ng-show="creating">Number of Questions:</label>
                        <select class="form-control" ng-model="questions" id="questions">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                        </select>
                        
                        
                        <label ng-show="creating">Survey Type:</label> 
                        
                        <label ng-show="creating">
                                <input type="radio" ng-model="multiplechoice" ng-show="creating" value="true">
                                Multiple Choice
                        </label>
                        <label ng-show="creating">
                                <input type="radio" ng-model="multiplechoice" ng-show="creating"  value="False">
                                Agree / Disagree
                        </label>
                        <br>
                        
                        <label ng-show="creating">Survey Active:</label>
                        <input type="date" ng-model="startdate" ng-show="creating" name="startdate" class="form-control">
                        
                        <label ng-show="creating">Survey Disabled:</label> 
                        <input type="date" ng-model="expirydate" ng-show="creating" name="expirydate" class="form-control">
                        
                        
                        <label ng-show="creating">Question 1:</label>
                        <input type="text" ng-model="question01" ng-show="creating" id="question01" placeholder="Question 1" class="form-control">
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 1 - Answer Option A:</label>
                                <input type="text" ng-model="question01A"  id="question01A" placeholder="Question 1 - Answer Option A" class="form-control">
                                <label >Question 1 - Answer Option B:</label>
                                <input type="text" ng-model="question01B"  id="question01B" placeholder="Question 1 - Answer Option B" class="form-control">
                                <label >Question 1 - Answer Option C:</label>
                                <input type="text" ng-model="question01C"  id="question01C" placeholder="Question 1 - Answer Option C" class="form-control">
                                <label>Question 1 - Answer Option D:</label>
                                <input type="text" ng-model="question01D"  id="question01D" placeholder="Question 1 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 2:</label>
                        <input type="text" ng-model="question02" ng-show="creating" id="question02" placeholder="Question 2" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 2 - Answer Option A:</label>
                                <input type="text" ng-model="question02A"  id="question02A" placeholder="Question 2 - Answer Option A" class="form-control">
                                <label >Question 2 - Answer Option B:</label>
                                <input type="text" ng-model="question02B"  id="question02B" placeholder="Question 2 - Answer Option B" class="form-control">
                                <label >Question 2 - Answer Option C:</label>
                                <input type="text" ng-model="question02C"  id="question02C" placeholder="Question 2 - Answer Option C" class="form-control">
                                <label>Question 2 - Answer Option D:</label>
                                <input type="text" ng-model="question02D"  id="question02D" placeholder="Question 2 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 3:</label>
                        <input type="text" ng-model="question03" ng-show="creating" id="question03" placeholder="Question 3" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 3 - Answer Option A:</label>
                                <input type="text" ng-model="question03A"  id="question03A" placeholder="Question 3 - Answer Option A" class="form-control">
                                <label >Question 3 - Answer Option B:</label>
                                <input type="text" ng-model="question03B"  id="question03B" placeholder="Question 3 - Answer Option B" class="form-control">
                                <label >Question 3 - Answer Option C:</label>
                                <input type="text" ng-model="question03C"  id="question03C" placeholder="Question 3 - Answer Option C" class="form-control">
                                <label>Question 3 - Answer Option D:</label>
                                <input type="text" ng-model="question03D"  id="question03D" placeholder="Question 3 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 4:</label>
                        <input type="text" ng-model="question04" ng-show="creating" id="question04" placeholder="Question 4" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 4 - Answer Option A:</label>
                                <input type="text" ng-model="question04A"  id="question04A" placeholder="Question 4 - Answer Option A" class="form-control">
                                <label >Question 4 - Answer Option B:</label>
                                <input type="text" ng-model="question04B"  id="question04B" placeholder="Question 4 - Answer Option B" class="form-control">
                                <label >Question 4 - Answer Option C:</label>
                                <input type="text" ng-model="question04C"  id="question04C" placeholder="Question 4 - Answer Option C" class="form-control">
                                <label>Question 4 - Answer Option D:</label>
                                <input type="text" ng-model="question04D"  id="question04D" placeholder="Question 4 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 5:</label>
                        <input type="text" ng-model="question05" ng-show="creating" id="question05" placeholder="Question 5" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 5 - Answer Option A:</label>
                                <input type="text" ng-model="question05A"  id="question05A" placeholder="Question 5 - Answer Option A" class="form-control">
                                <label >Question 5 - Answer Option B:</label>
                                <input type="text" ng-model="question05B"  id="question05B" placeholder="Question 5 - Answer Option B" class="form-control">
                                <label >Question 5 - Answer Option C:</label>
                                <input type="text" ng-model="question05C"  id="question05C" placeholder="Question 5 - Answer Option C" class="form-control">
                                <label>Question 5 - Answer Option D:</label>
                                <input type="text" ng-model="question05D"  id="question05D" placeholder="Question 5 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 6:</label>
                        <input type="text" ng-model="question06" ng-show="creating" id="question06" placeholder="Question 6" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 6 - Answer Option A:</label>
                                <input type="text" ng-model="question06A"  id="question06A" placeholder="Question 6 - Answer Option A" class="form-control">
                                <label >Question 6 - Answer Option B:</label>
                                <input type="text" ng-model="question06B"  id="question06B" placeholder="Question 6 - Answer Option B" class="form-control">
                                <label >Question 6 - Answer Option C:</label>
                                <input type="text" ng-model="question06C"  id="question06C" placeholder="Question 6 - Answer Option C" class="form-control">
                                <label>Question 6 - Answer Option D:</label>
                                <input type="text" ng-model="question06D"  id="question06D" placeholder="Question 6 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 7:</label>
                        <input type="text" ng-model="question07" ng-show="creating" id="question07" placeholder="Question 7" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 7 - Answer Option A:</label>
                                <input type="text" ng-model="question07A"  id="question07A" placeholder="Question 7 - Answer Option A" class="form-control">
                                <label >Question 7 - Answer Option B:</label>
                                <input type="text" ng-model="question07B"  id="question07B" placeholder="Question 7 - Answer Option B" class="form-control">
                                <label >Question 7 - Answer Option C:</label>
                                <input type="text" ng-model="question07C"  id="question07C" placeholder="Question 7 - Answer Option C" class="form-control">
                                <label>Question 7 - Answer Option D:</label>
                                <input type="text" ng-model="question07D"  id="question07D" placeholder="Question 7 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 8:</label>
                        <input type="text" ng-model="question08" ng-show="creating" id="question08" placeholder="Question 8" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 8 - Answer Option A:</label>
                                <input type="text" ng-model="question08A"  id="question08A" placeholder="Question 8 - Answer Option A" class="form-control">
                                <label >Question 8 - Answer Option B:</label>
                                <input type="text" ng-model="question08B"  id="question08B" placeholder="Question 8 - Answer Option B" class="form-control">
                                <label >Question 8 - Answer Option C:</label>
                                <input type="text" ng-model="question08C"  id="question08C" placeholder="Question 8 - Answer Option C" class="form-control">
                                <label>Question 8 - Answer Option D:</label>
                                <input type="text" ng-model="question08D"  id="question08D" placeholder="Question 8 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 9:</label>
                        <input type="text" ng-model="question09" ng-show="creating" id="question09" placeholder="Question 9" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 9 - Answer Option A:</label>
                                <input type="text" ng-model="question09A"  id="question09A" placeholder="Question 9 - Answer Option A" class="form-control">
                                <label >Question 9 - Answer Option B:</label>
                                <input type="text" ng-model="question09B"  id="question09B" placeholder="Question 9 - Answer Option B" class="form-control">
                                <label >Question 9 - Answer Option C:</label>
                                <input type="text" ng-model="question09C"  id="question09C" placeholder="Question 9 - Answer Option C" class="form-control">
                                <label>Question 9 - Answer Option D:</label>
                                <input type="text" ng-model="question09D"  id="question09D" placeholder="Question 9 - Answer Option D" class="form-control">
                        </div>
                        
                        <label ng-show="creating">Question 10:</label>
                        <input type="text" ng-model="question10" ng-show="creating" id="question10" placeholder="Question 10" class="form-control"> 
                        <div class="list-group" ng-show="multiplechoice == 'true'">
                                <label>Question 10 - Answer Option A:</label>
                                <input type="text" ng-model="question10A"  id="question10A" placeholder="Question 10 - Answer Option A" class="form-control">
                                <label>Question 10 - Answer Option B:</label>
                                <input type="text" ng-model="question10B"  id="question10B" placeholder="Question 10 - Answer Option B" class="form-control">
                                <label>Question 10 - Answer Option C:</label>
                                <input type="text" ng-model="question10C"  id="question10C" placeholder="Question 10 - Answer Option C" class="form-control">
                                <label>Question 10 - Answer Option D:</label>
                                <input type="text" ng-model="question10D"  id="question10D" placeholder="Question 10 - Answer Option D" class="form-control">
                        </div>
                        
                        
                        
                                                
                        </div>
                        
                       <div class="btn-group">
                       <br><p>
                                <button type="button" title="Save" ng-show="creating" ng-click="save()" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                                <button type="button" title="Cancel" ng-show="creating" ng-click="createcancel()" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                       </p>
                       </div> <!-- btn-group -->
                   
                   </div>
                </div> <!-- panel-body -->
            </div> <!-- panel panel-default -->
        </script>

        <script type="text/ng-template" id="/surveyDetails.html">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title"><stong>{{ survey.name }}</strong></div>
                </div><!-- panel-heading -->
                
                <div class="panel-body">
                     
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <label>Survey ID:</label>
                        <input type="text" ng-value="survey._id"  id="surveyID" class="form-control" readonly>
                        
                        <label>Survey URL:</label>
                        <input type="text" value="https://mysimplesurvey.herokuapp.com/responses/{{ survey._id }}"  id="surveyURL" class="form-control" readonly>

                        <label>Survey Name:</label> 
                        <input type="text" ng-model="survey.name"  id="newSurvey" placeholder="Survey Name" class="form-control">
                        <label >Number of Questions:</label>
                        <select class="form-control" ng-model="survey.questions" id="questions">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                        </select>
                        
                        
                        <label >Survey Type:</label> 
                        <label >
                                <input type="radio" ng-model="survey.multiplechoice"  value="true">
                                Multiple Choice
                        </label>
                        <label >
                                <input type="radio" ng-model="survey.multiplechoice"   value="False">
                                Agree / Disagree
                        </label>
                   

                        <br>
                        <label>Survey Active:</label> 
                        <input type="datetime" value="{{ survey.startdate }}" ng-model="survey.startdate" name="startdate" class="form-control">
                        <input type="date" ng-model="survey.startdate"  name="startdate" class="form-control">
                                                                        
                        <label>Survey Disabled:</label> 
                        <input type="datetime" value="{{ survey.expirydate }}" ng-model="survey.expirydate"  name="expirydate" class="form-control">
                        <input type="date" ng-model="survey.expirydate"  name="expirydate" class="form-control">
                        
                        
                        <label >Question 1:</label>
                        <input type="text" ng-model="survey.question01"  id="question01" placeholder="Question 1" class="form-control">
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 1 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question01A"  id="question01A" placeholder="Question 1 - Answer Option A" class="form-control">
                                <label >Question 1 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question01B"  id="question01B" placeholder="Question 1 - Answer Option B" class="form-control">
                                <label >Question 1 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question01C"  id="question01C" placeholder="Question 1 - Answer Option C" class="form-control">
                                <label>Question 1 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question01D"  id="question01D" placeholder="Question 1 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 2:</label>
                        <input type="text" ng-model="survey.question02"  id="question02" placeholder="Question 2" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 2 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question02A"  id="question02A" placeholder="Question 2 - Answer Option A" class="form-control">
                                <label >Question 2 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question02B"  id="question02B" placeholder="Question 2 - Answer Option B" class="form-control">
                                <label >Question 2 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question02C"  id="question02C" placeholder="Question 2 - Answer Option C" class="form-control">
                                <label>Question 2 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question02D"  id="question02D" placeholder="Question 2 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 3:</label>
                        <input type="text" ng-model="survey.question03"  id="question03" placeholder="Question 3" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 3 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question03A"  id="question03A" placeholder="Question 3 - Answer Option A" class="form-control">
                                <label >Question 3 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question03B"  id="question03B" placeholder="Question 3 - Answer Option B" class="form-control">
                                <label >Question 3 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question03C"  id="question03C" placeholder="Question 3 - Answer Option C" class="form-control">
                                <label>Question 3 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question03D"  id="question03D" placeholder="Question 3 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 4:</label>
                        <input type="text" ng-model="survey.question04"  id="question04" placeholder="Question 4" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 4 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question04A"  id="question04A" placeholder="Question 4 - Answer Option A" class="form-control">
                                <label >Question 4 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question04B"  id="question04B" placeholder="Question 4 - Answer Option B" class="form-control">
                                <label >Question 4 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question04C"  id="question04C" placeholder="Question 4 - Answer Option C" class="form-control">
                                <label>Question 4 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question04D"  id="question04D" placeholder="Question 4 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 5:</label>
                        <input type="text" ng-model="survey.question05"  id="question05" placeholder="Question 5" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 5 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question05A"  id="question05A" placeholder="Question 5 - Answer Option A" class="form-control">
                                <label >Question 5 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question05B"  id="question05B" placeholder="Question 5 - Answer Option B" class="form-control">
                                <label >Question 5 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question05C"  id="question05C" placeholder="Question 5 - Answer Option C" class="form-control">
                                <label>Question 5 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question05D"  id="question05D" placeholder="Question 5 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 6:</label>
                        <input type="text" ng-model="survey.question06"  id="question06" placeholder="Question 6" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 6 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question06A"  id="question06A" placeholder="Question 6 - Answer Option A" class="form-control">
                                <label >Question 6 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question06B"  id="question06B" placeholder="Question 6 - Answer Option B" class="form-control">
                                <label >Question 6 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question06C"  id="question06C" placeholder="Question 6 - Answer Option C" class="form-control">
                                <label>Question 6 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question06D"  id="question06D" placeholder="Question 6 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 7:</label>
                        <input type="text" ng-model="survey.question07"  id="question07" placeholder="Question 7" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 7 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question07A"  id="question07A" placeholder="Question 7 - Answer Option A" class="form-control">
                                <label >Question 7 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question07B"  id="question07B" placeholder="Question 7 - Answer Option B" class="form-control">
                                <label >Question 7 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question07C"  id="question07C" placeholder="Question 7 - Answer Option C" class="form-control">
                                <label>Question 7 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question07D"  id="question07D" placeholder="Question 7 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 8:</label>
                        <input type="text" ng-model="survey.question08"  id="question08" placeholder="Question 8" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 8 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question08A"  id="question08A" placeholder="Question 8 - Answer Option A" class="form-control">
                                <label >Question 8 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question08B"  id="question08B" placeholder="Question 8 - Answer Option B" class="form-control">
                                <label >Question 8 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question08C"  id="question08C" placeholder="Question 8 - Answer Option C" class="form-control">
                                <label>Question 8 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question08D"  id="question08D" placeholder="Question 8 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 9:</label>
                        <input type="text" ng-model="survey.question09"  id="question09" placeholder="Question 9" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 9 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question09A"  id="question09A" placeholder="Question 9 - Answer Option A" class="form-control">
                                <label >Question 9 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question09B"  id="question09B" placeholder="Question 9 - Answer Option B" class="form-control">
                                <label >Question 9 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question09C"  id="question09C" placeholder="Question 9 - Answer Option C" class="form-control">
                                <label>Question 9 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question09D"  id="question09D" placeholder="Question 9 - Answer Option D" class="form-control">
                        </div>
                        
                        <label >Question 10:</label>
                        <input type="text" ng-model="survey.question10"  id="question10" placeholder="Question 10" class="form-control"> 
                        <div class="list-group" ng-show="survey.multiplechoice">
                                <label>Question 10 - Answer Option A:</label>
                                <input type="text" ng-model="survey.question10A"  id="question10A" placeholder="Question 10 - Answer Option A" class="form-control">
                                <label>Question 10 - Answer Option B:</label>
                                <input type="text" ng-model="survey.question10B"  id="question10B" placeholder="Question 10 - Answer Option B" class="form-control">
                                <label>Question 10 - Answer Option C:</label>
                                <input type="text" ng-model="survey.question10C"  id="question10C" placeholder="Question 10 - Answer Option C" class="form-control">
                                <label>Question 10 - Answer Option D:</label>
                                <input type="text" ng-model="survey.question10D"  id="question10D" placeholder="Question 10 - Answer Option D" class="form-control">
                        </div>
                    
   
                    
                        <label >Notes:</label>
                        <textarea ng-model="survey.note" class="form-control"></textarea>
                        </div> <!-- nested-panel-body -->
                        
                   </div> <!-- nested-panel panel-default -->
                   
                   <div class="btn-group">
                   <p>
                   <button type="button" title="Save" ng-click="update()" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                   <button type="button" title="Delete" ng-click="remove()" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                   <button type="button" title="Cancel" ng-click="cancel()" class="btn btn-default"><i class="fa fa-undo"></i> Cancel</button>
                   </p>
                </div> <!-- btn-group -->

                </div> <!-- panel-body -->
            </div> <!-- panel panel-default -->

        </script>
        
        


<% include partials/boot.ejs %>
<% include partials/nglib.ejs %>
<% include partials/footer.ejs %>
